.txtsearch {
  width: 596px;
  height: 35px;
  margin-bottom: 21px;

  &:focus {
    border: 1px solid blue;
  }
}

.Aligner {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;

  align-items: center;
  -webkit-align-items: center;

  justify-content: center;
  -webkit-justify-content: center;

  height: 100%;

  .wrapper {
    text-align: center;
  }
  .logo {
    margin-bottom: 34px;
  }
}

.browse-more {
  width: 596px;
  margin: 0 auto;
}

.browse-list {
  width: 80%;
  float: right;
  list-style-type: circle;
}

.browse-list li {
  float: left;
  margin-right: 37px;
}

label {
  color: #555;
  font-size: 13px;
  float: left;
}

.browse-link {
  font-size: 12px;
  letter-spacing: 0.5px;
}
