[data-class-name= "Views.Home.IndexView"] {
  .selected {
      width: 300px;
      height: 620px;
      background: gray;
      position: absolute;
      top: 10px;
      // right: 5px;
      right: -300px;
    }
}