/* should be on edit mode only */
/*section.map.mode-edit div.polygon-elbow {
    opacity: 1;
    pointer-events: all;
}*/

div.polygon-elbow {
    opacity: 1;
    pointer-events: all;
    -webkit-transition: opacity .25s;
    box-shadow: 0 0 0 2px white, 0 0 10px rgba(0, 0, 0, .35);
    border: 5px solid #D7217E;
    border-radius: 10px;
    transition: opacity 0.25s;
    cursor: move;
    box-sizing: border-box;
    width: 0 !important;
    height: 0 !important;
}