@mixin translate-x($value) {
      transform: translatex($value); /* Standard syntax */
    -ms-transform: translatex($value); /* IE 9 */
  -webkit-transform: translatex($value); /* Chrome, Safari, Opera */
}