[data-class-name= "Views.Map.IndexView"] {
  .selected {
    width: 300px;
    height: 620px;
    background: gray;
    position: absolute;
    top: 10px;
    // right: 5px;
    right: -300px;
    background-color: $background-color;
  }

  #tab-panel {
    clear: both;
  }
  #tab-panel a {
    padding: 5px 6px 3px;
  }
}