[data-class-name= "Views.Map.IndexView"] {
  .sidebar-right {
    position: absolute;
    width: $sidebar-right-width;
    max-height: 620px;
    @media screen and (max-width: 768px) {
      max-height: 496px;
    }
    top: 10px;
    left: 5px;
    z-index: 5;
    background-color: $background-color;
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: scroll;

    box-shadow: 0px 0px 14px -1px #666;

    transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;

    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  .sidebar-close-btn {
    position: absolute;
    min-width: 26px;
    height: 31px;
    text-decoration: none;
    left: 265px;
    z-index: 5;
    background: $background-color;
    padding: 4px 8px;
    top: 15px;
    border-radius: 0 3px 3px 0;
    color: white;

    box-shadow: 4px 0px 6px -2px #919191;

    &:hover {
      left: 260px;
    }
  }

  .hide-sidebar,
  .hide-sidebar-close-btn {
    @include translate-x(-265px);
  }

  #sidebar-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 11px;

    h4 {
      @include ellipsis;

      display: block;
      font-size: 11px;
      font-weight: bold;
      color: #555;
      margin: 6px 0;
    }

    li {
      padding: 5px;
      &:hover {
        background-color: white;
        cursor: pointer;
      }
      &:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }
    }
  }

  .listing-image {
    width: $listing-image-width;
    display: inline-block;
    float: left;
  }

  .listing-info {
    width: $listing-info-width;
    display: inline-block;
  }

  .home-note {
    width: $home-note-width;
    float: left;
    padding-left: 7px;
  }

  .home-state {
    width: $home-state-width;
    float: left;

    .home-beds,
    .home-baths,
    .home-sqr {
      width: $home-state-items-width;
      float: left;
      text-align: center;
      border-left: 1px solid #ccc;

      p:nth-child(2n) {
        margin-bottom: 0;
      }
    }
  }
}