<div class="selected">
  <a class="close">[x]</a>
  <div role="tabpanel">
    <!-- Nav tabs -->
    <ul id="tab" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#project-info" aria-controls="project-info" role="tab" data-toggle="tab">project info</a></li>
      <li role="presentation"><a href="#available-listings" aria-controls="available-listings" role="tab" data-toggle="tab">Available Listings</a></li>
      <li role="presentation"><a href="#nearby" aria-controls="nearby" role="tab" data-toggle="tab">Nearby</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="project-info">
        project info
      </div>
      <div role="tabpanel" class="tab-pane" id="available-listings">
        available listings
      </div>
      <div role="tabpanel" class="tab-pane" id="nearby">
        nearby
      </div>
    </div>
  </div>

</div>