<div class="container">
  <div class="col-xs-12">
    <h1 class="listing-name">Sous Beurre Kitchen</h1>

    <div class="row">
      <% 4.times do %>
        <%= render 'home/detail/item' %>
      <% end %>
    </div>
  </div>
</div>
