<div class="col-xs-12 Aligner">
  <section class="wrapper">
    <section class="logo">
      <img src="<%= asset_path('homely.gif') %>" alt='homely.com'>
    </section>
    <input type='text' class='txtsearch'>
    <section class="browse-more">
      <label>I'm looking for: </label>
      <ul class="browse-list">
        <li><a class='browse-link' href="#">Best Nearby</a></li>
        <li><a class='browse-link' href="#">Specials</a></li>
        <li><a class='browse-link' href="#">Food</a></li>
        <li><a class='browse-link' href="#">Nightlife</a></li>
        <li><a class='browse-link' href="#">Coffee</a></li>
        <li><a class='browse-link' href="#">Shopping</a></li>
        <li><a class='browse-link' href="#">Sights</a></li>
        <li><a class='browse-link' href="#">Arts</a></li>
        <li><a class='browse-link' href="#">Outdoors</a></li>
        <li><a class='browse-link' href="#">Trending</a></li>
        <li><a class='browse-link' href="#">Saved</a></li>
        <li><a class='browse-link' href="#">Recent Opened</a></li>
      </ul>
    </section>
  </section>
</div>