<div class="col-xs-12 Aligner">
  <section class="wrapper">
    <section class="logo">
      <img src="<%= asset_path('homely.gif') %>" alt='homely.com'>
    </section>
    <input type='text' class='txtsearch'>
  </section>
</div>