<div class="map-wrapper">
  <a href="#" class="sidebar-close-btn">
    <span>&laquo;</span>
  </a>
  <div class="sidebar-right">
    <ul id="sidebar-list">
      <li>
        <h4>Lorem ipsum dolor sit amet, consectetur</h4>
        <div class="flexslider c-flexslider">
          <ul class="slides">
            <li>
              <img data-src="holder.js/250x171/sky/text: 1">
            </li>
            <li>
              <img data-src="holder.js/250x171/sky/text: 2">
            </li>
            <li>
              <img data-src="holder.js/250x171/sky/text: 3">
            </li>
            <li>
              <img data-src="holder.js/250x171/sky/text: 4">
            </li>
          </ul>

          <div class="shadow"></div>
        </div>
      </li>
      <li>
        <h4>Yellow Tower inc.</h4>
        <div class="flexslider c-flexslider">
          <ul class="slides">
            <li>
              <img data-src="holder.js/250x171/vine/text: 1">
            </li>
            <li>
              <img data-src="holder.js/250x171/vine/text: 2">
            </li>
            <li>
              <img data-src="holder.js/250x171/vine/text: 3">
            </li>
            <li>
              <img data-src="holder.js/250x171/vine/text: 4">
            </li>
          </ul>

          <div class="shadow"></div>
        </div>
      </li>
      <li>
        <h4>Pedro</h4>
        <div class="flexslider c-flexslider">
          <ul class="slides">
            <li>
              <img data-src="holder.js/250x171/lava/text: 1">
            </li>
            <li>
              <img data-src="holder.js/250x171/lava/text: 2">
            </li>
            <li>
              <img data-src="holder.js/250x171/lava/text: 3">
            </li>
            <li>
              <img data-src="holder.js/250x171/lava/text: 4">
            </li>
          </ul>

          <div class="shadow"></div>
        </div>
      </li>
      <li>
        <h4>Raffles Hotel Le Royal</h4>
        <div class="flexslider c-flexslider">
          <ul class="slides">
            <li>
              <img data-src="holder.js/250x171/industrial/text: 1">
            </li>
            <li>
              <img data-src="holder.js/250x171/industrial/text: 2">
            </li>
            <li>
              <img data-src="holder.js/250x171/industrial/text: 3">
            </li>
            <li>
              <img data-src="holder.js/250x171/industrial/text: 4">
            </li>
          </ul>

          <div class="shadow"></div>
        </div>
      </li>
    </ul>
  </div>
  <div id='map' class="height-100"></div>
</div>