<!-- requirement
  x 1. represent pic
  x 2. address
  x 3. price
  x 4. type of house ( villa , apartment, flat)
  5. status of house ( sell, rent, ongoing, completed)
  x 6. vendor
  7. info ( beds, bath, area )
 -->
<div class="map-wrapper">
  <%= render 'sidebar_right' %>
  <div id='map' class="height-100"></div>
  <div class="freedraw-control">
    <ul class="ctrl-primary">
      <li>
        <a href="#">Draw Area</a>
      </li>
      <li>
        <a href="#">Add More Search</a>
      </li>
      <li>
        <a href="#">Edit Area</a>
      </li>
    </ul>

    <ul class="ctrl-secondary">
      <li>
        <a href="#">Delete Area</a>
      </li>
      <li>
        <a href="#">Reset</a>
      </li>
      <li>
        <a href="#">Undo</a>
      </li>
      <li>
        <a href="#">Redo</a>
      </li>
      <li>
        <a href="#">Help</a>
      </li>
    </ul>
  </div>
  <div class="nearby-poi">
    <!-- nearby point of interest -->
  </div>
  <%= render 'shared/selected_box' %>
</div>