<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <div class="showcase-photo-box">
    <img src="<%= asset_path('food.jpg')%>" alt="220x220">

    <div class="media">
      <div class="media-left media-top">
        <a href="#">
          <img class="media-object" src="<%= asset_path('avatar.jpg')%>" alt="avatar">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">Middle aligned media</h4>
        <p>Barron Point Oysters w/ fennel…</p>
      </div>
    </div>
  </div>
</div>