// libs
@import "bourbon";
@import 'shares/mixins';
@import 'font-awesome/font-awesome.min';
@import 'bootstrap/bootstrap.min';
@import 'libs/flexslider';
@import 'libs/animate';
@import 'libs/custom-animate';

// pages
@import 'shares/variables';
@import 'shares/base';
@import 'shares/header';
@import 'home/index';
@import 'home/sidebar';
@import 'home/selected';